spring:
  application:
    name: service1
  datasource:
    url: jdbc:postgresql://localhost:5432/coa2
    username: postgres
    password: postgres
  jpa:
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
    hibernate:
      ddl-auto: create-only
    show-sql: true
server:
  error:
    whitelabel:
      enabled: false
  port: 8081
  ssl:
    key-store: classpath:ssl/keystore.p12
    key-store-password: pass
    key-store-type: PKCS12
    key-alias: localhost
    enabled: true
  servlet:
    session:
      cookie:
        secure: true
        http-only: true
